.osjs-gui-xterm {
  background-color: #000;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;

  .xterm.terminal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  @import "xterm";
}
